<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Xin chào, mời bạn nhập số CCCD/CMND/Hộ chiếu: </h1>

    <div style="margin-left: 50px;">
        <form action="/check_in" method="post">
            <label for="id">CCCD/CMND/HoChieu</label>
            <input type="text" id="id" name="id"><br>

            <button type="submit">Check ID</button>

        </form>
    </div>
</body>
</html>